@page
@model DetailProductModel

@{
    ViewData["Title"] = "DetailProduct";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post">
    <input name="productID" type="hidden" value="@Model.Product.ProductId" />
    <section class="py-5">
        <div class="container">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="img-fluid rounded mb-5 mb-md-0" src="@Html.DisplayFor(model => model.Product.ProductImage)" alt="Product Image" />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">@Html.DisplayFor(model => model.Product.Category.CategoryName)</div>
                    <h1 class="display-5 fw-bolder">@Html.DisplayFor(model => model.Product.ProductName)</h1>
                    <div class="fs-5 mb-4">
                        <span class="fw-bold">$@Html.DisplayFor(model => model.Product.Price)</span>
                    </div>      
                    <div class="fs-5 mb-4">
                        <span class="text-success">In Stock - @Model.Product.Quantity available</span>
                    </div>
                    <div class="fs-5 mb-4">
                        <span class="text-muted">Company - @Html.DisplayFor(model => model.Product.Supplier.CompanyName)</span>
                    </div>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                    <div class="d-flex align-items-center">
                        <input class="form-control me-3" id="inputQuantity" name="quantity" type="number" value="1" style="max-width: 10rem" min="1" max="@Model.Product.Quantity" />
                        <button class="btn btn-primary" type="submit">
                            <i class="bi-cart-fill me-2"></i>
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}